<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="AppKey" value="1942253563"/>
    <add key="AppSecret" value="51ef4520fd06cb7bcfa54ae9139b76fb"/>
    <!--<add key="CallbackUrl" value="CallbackUrl"/>-->
	  <add key ="CallbackUrl" value="http://127.0.0.1/Login.aspx"/>
  </appSettings>
</configuration>